<template>
  <main-view>
    <template v-slot:header>
      <span v-if="$route.name !== 'EditNews'">Nouvel News</span>
      <span v-else>
        Modification de la News N°{{ aNews.idNews }}
        <mdb-btn color="red" size="sm" @click="deleteNews()"><mdb-icon icon="trash"/></mdb-btn>
      </span>
    </template>
    <template v-slot:body>
      <form novalidate @submit.prevent="checkForm">
        <mdb-container>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon">
                Titre :
              </span>
            </div>
            <input type="text" v-model="aNews.titreNews" class="form-control" placeholder="Titre" aria-label="Titre" aria-describedby="basic-addon">
          </div>
          <div class="invalid" v-if="displayErrorMessage('titreNews') && !$v.aNews.titreNews.required">Ce champ est requis</div>
          <br/>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon">
                Contenu :
              </span>
            </div>
            <textarea v-model="aNews.contenuNews" class="form-control" placeholder="Contenu" aria-label="Contenu" aria-describedby="basic-addon"/>
          </div>
          <div class="invalid" v-if="displayErrorMessage('contenuNews') && !$v.aNews.contenuNews.required">Ce champ est requis</div>

          <br/>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon">
                Image :
              </span>
            </div>
            <input type="text" v-model="aNews.imageUrl" class="form-control" placeholder="Contenu" aria-label="Contenu" aria-describedby="basic-addon">
          </div>
          <div class="invalid" v-if="displayErrorMessage('imageUrl') && !$v.aNews.imageUrl.url">Ce champ doit être une url</div>

        </mdb-container>
        <div class="text-center">
          <mdb-btn color="primary" type="submit">Enregistrer</mdb-btn>
        </div>
      </form>
    </template>
  </main-view>
</template>

<script>
import MainView from '../common/MainView'
import { required, url } from 'vuelidate/lib/validators'
import newsApi from '../../api/news'
import { mdbBtn, mdbContainer, mdbIcon } from 'mdbvue'

export default {
  name: 'NewsForm',
  components: {
    MainView,
    mdbBtn,
    mdbIcon,
    mdbContainer
  },
  data: () => {
    return {
      aNews: {
        idNews: null,
        titreNews: '',
        contenuNews: '',
        imageUrl: null
      }
    }
  },
  created () {
    if (this.$route.name === 'EditNews') {
      newsApi.getOneNews(this.$route.params.id, (res) => {
        this.aNews = res
      })
    }
  },
  validations: {
    aNews: {
      titreNews: { required },
      contenuNews: { required },
      imageUrl: { url }
    }
  },
  methods: {
    deleteNews () {
      let vm = this

      if (confirm('Êtes vous sûr de vouloir supprimer ?')) {
        newsApi.deleteNews(vm.aNews.idNews, (res) => {
          vm.$router.push({ name: 'News' })
        })
      }
    },
    checkForm () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        console.log(this.aNews)
        // this.regles.horaireDebutAcces = moment(this.regles.horaireDebutAcces).format('HH:mm')
        // this.regles.horaireFinOuverture = moment(this.regles.horaireFinOuverture).format('HH:mm')
        delete this.aNews.dateCreationNews
        if (this.aNews.idNews !== null) {
          newsApi.updateNews(this.aNews, (res) => {
            this.aNews = res
            this.$router.push({ name: 'News' })
          })
        } else {
          newsApi.addNews(this.aNews, (res) => {
            this.aNews = res
            this.$router.push({ name: 'News' })
          })
        }
      }
    },
    displayErrorMessage (key) {
      return this.$v.aNews[key].$anyError
    }
  }
}
</script>

<style>
.invalid {
  color: red;
}
</style>
