<template>
  <main-view>
    <template v-slot:header>
      Liste des news
      <router-link :to="{name : 'NewNews'}">
        <mdb-btn color="default" size="sm"><mdb-icon icon="plus"/></mdb-btn>
      </router-link>
    </template>
    <template v-slot:body>
      <list-ag-grid
        :columnDefs="columnDefs"
        :rowData="news"
        :doubleClickedCb="onRowDoubleClicked"
      ></list-ag-grid>
    </template>
  </main-view>
</template>

<script>
import {
  mdbBtn,
  mdbIcon
} from 'mdbvue'
import MainView from '../common/MainView'
import ListAgGrid from '../common/ListAgGrid'
import { mapState } from 'vuex'

export default {
  name: 'News',
  components: {
    ListAgGrid,
    mdbBtn,
    mdbIcon,
    MainView
  },
  data () {
    return {
      columnDefs: null
    }
  },
  computed: {
    ...mapState({
      news: state => state.moduleNews.all
    })
  },
  beforeMount () {
    this.$store.dispatch('getAllNews')
    this.onRowDoubleClicked = (event) => {
      this.$router.push({ name: 'EditNews', params: { id: event.data.idNews } })
    }
    this.columnDefs = [
      {headerName: 'Titre', field: 'titreNews', sortable: true, filter: true, resizable: true},
      {headerName: 'Contenu', field: 'contenuNews', sortable: true, filter: true, resizable: true},
      {headerName: 'Date de création', field: 'dateCreationNews', sortable: true, filter: true, resizable: true}
    ]
  }
}
</script>

<style>

</style>
