<template>
  <div>
      <main-view>
        <template v-slot:header>
          Configuration
        </template>
        <template v-slot:body>
          <form novalidate @submit.prevent="checkForm">
            <mdb-container>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon">
                    Jours de réservation :
                  </span>
                </div>
                <input type="number" min="0" v-model="regles.nbJourMaxReservation" class="form-control" placeholder="Jours de réservation" aria-label="Jours de réservation" aria-describedby="basic-addon">
                <div class="invalid" v-if="displayErrorMessage('nbJourMaxReservation') && !$v.nbJourMaxReservation.minValue">Minimum de 0</div>

              </div>
              <br/>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon">
                    Nombre d'invitation par personne :
                  </span>
                </div>
                <input type="number" min="0" v-model="regles.nombreInvitation" class="form-control" placeholder="Nombre d'invitation" aria-label="Nombre d'invitation" aria-describedby="basic-addon">
                <div class="invalid" v-if="displayErrorMessage('nombreInvitation') && !$v.nombreInvitation.minValue">Minimum de 0</div>
              </div>
              <br/>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon">
                    Heure d'ouverture :
                  </span>
                </div>
                <datetime input-class="col-md-8 form-control" type="time" v-model="regles.horaireDebutAcces" value-zone="UTC+1" :hour-step="1" :minute-step="60"></datetime>
              </div>
              <br/>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon">
                    Heure de fermeture :
                  </span>
                </div>
                <datetime input-class="col-md-8 form-control" type="time" v-model="regles.horaireFinOuverture" :hour-step="1" :minute-step="60" value-zone="UTC+1"></datetime>
              </div>
            </mdb-container>
            <div class="text-center">
              <mdb-btn color="primary" type="submit">Enregistrer</mdb-btn>
            </div>
          </form>
        </template>
      </main-view>
  </div>
</template>

<script>
import MainView from './common/MainView'
import { minValue, numeric } from 'vuelidate/lib/validators'
import moment from 'moment'
import { Datetime } from 'vue-datetime'
import reglesClubApi from '../api/regles'
import { mdbBtn, mdbContainer } from 'mdbvue'

export default {
  components: {
    MainView,
    Datetime,
    mdbContainer,
    mdbBtn
  },
  data: () => {
    return {
      regles: {
        nombreInvitation: 6,
        horaireDebutAcces: '08:00',
        horaireFinOuverture: '18:00',
        nbJourMaxReservation: 7,
        libelleRegle: 'default'
      }
    }
  },
  methods: {
    checkForm () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        console.log(this.regles)
        this.regles.horaireDebutAcces = moment(this.regles.horaireDebutAcces).format('HH:mm')
        this.regles.horaireFinOuverture = moment(this.regles.horaireFinOuverture).format('HH:mm')
        reglesClubApi.updateReglesClub(this.regles, (res) => {
          this.regles = res
        })
      }
    },
    displayErrorMessage (key) {
      return this.$v.regles[key].$anyError
    }
  },
  validations: {
    regles: {
      nombreInvitation: { numeric, minValue },
      nbJourMaxReservation: { numeric, minValue }
    }
  },
  created () {
    reglesClubApi.getRegles((res) => {
      let regex = new RegExp('^([0-9]{2}):([0-9]{2})')
      let tabRegexHoraireDebutAcces = res.horaireDebutAcces.match(regex)
      let tabRegexHoraireFinOuverture = res.horaireFinOuverture.match(regex)
      res.horaireDebutAcces = moment().hours(tabRegexHoraireDebutAcces[1]).minutes(tabRegexHoraireDebutAcces[2]).format()
      res.horaireFinOuverture = moment().hours(tabRegexHoraireFinOuverture[1]).minutes(tabRegexHoraireFinOuverture[2]).format()
      console.log(res)

      this.regles = res
    })
  },
  name: 'Config'
}
</script>

<style>
@import 'vue-datetime/dist/vue-datetime.css'

</style>
