<template>
  <mdb-row>
    <mdb-col col="4"/>
    <mdb-col col="4">
      <mdb-card>
        <mdb-card-body>
          <form @submit.prevent="loginForm()">
            <p class="h4 text-center mb-4">Connexion</p>
            <div v-show="errorMessage !== ''">
              <mdb-card color="red lighten-1"  class="text-center">
                <mdb-card-body>
                  {{ errorMessage }}
                </mdb-card-body>
              </mdb-card>
              <br/>
            </div>
            <div class="grey-text">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon">
                    <i class="fas fa-user prefix"></i>
                  </span>
                </div>
                <input type="text" v-model="login" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon">
              </div>
              <br/>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon">
                    <i class="fas fa-lock prefix"></i>
                  </span>
                </div>
                <input type="password" v-model="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon">
              </div>
            </div>
            <div class="text-center">
              <mdb-btn>
                <span v-if="!loading">Se Connecter</span>
                <span v-else>
                  <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>Connexion en cours
                </span>
              </mdb-btn>
            </div>
          </form>
        </mdb-card-body>
      </mdb-card>
    </mdb-col>
  </mdb-row>
</template>

<script>
import { mdbInput, mdbBtn, mdbCard, mdbCardBody, mdbRow, mdbCol } from 'mdbvue'
import {mapState} from 'vuex'

export default {
  name: 'Login',
  components: {
    mdbInput,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardBody,
    mdbBtn
  },
  data () {
    return {
      login: '',
      password: '',
      errorMessage: '',
      loading: false
    }
  },
  computed: mapState(['loggedIn']),
  created () {
    this.$store.watch(
      (state, getters) => getters.loggedIn,
      (newValue, oldValue) => {
        if (newValue) {
          this.$router.push('/')
        }
      }
    )
  },
  methods: {
    loginForm () {
      this.loading = true
      this.$store.dispatch('login', {username: this.login, password: this.password})
        .catch((err) => {
          console.log(err)

          if (err.status === 400 || err.status === 401) {
            this.loading = true
            this.errorMessage = err.data.error_description
          }
        }).finally(() => { this.loading = false })
    }
  }
}
</script>

<style>

</style>
