<template>
   <mdb-row>
    <mdb-col col="3"/>
    <mdb-col col="6">
      <mdb-card>
        <mdb-card-header>Connexion</mdb-card-header>
        <mdb-card-body>
          <form @submit.prevent="checkForm()">
            <div class="grey-text">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon">
                    Mot de passe
                  </span>
                </div>
                <input type="password" v-model="password" class="form-control" placeholder="Mot de passe" aria-label="Mot de passe" aria-describedby="basic-addon">
              </div>
              <div class="invalid" v-if="displayErrorMessage('password') && !$v.password.required">Ce champ est requis</div>
              <div class="invalid" v-if="displayErrorMessage('password') && !$v.password.minLength">8 caractères minimum</div>

              <br/>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon">
                    Confirmer Mot de passe
                  </span>
                </div>
                <input type="password" v-model="passwordConfirmed" class="form-control" placeholder="Confirmer Mot de passe" aria-label="Confirmer Mot de passe" aria-describedby="basic-addon">
              </div>
            </div>
            <div class="invalid" v-if="displayErrorMessage('passwordConfirmed') && !$v.passwordConfirmed.required">Ce champ est requis</div>
            <div class="invalid" v-if="displayErrorMessage('passwordConfirmed') && !$v.passwordConfirmed.sameAsPassword">Ce champ doit être identique au mot de passe ci-dessus.</div>

            <div class="text-center">
              <mdb-btn>
                Enregistrer
              </mdb-btn>
            </div>
          </form>
        </mdb-card-body>
      </mdb-card>
    </mdb-col>
  </mdb-row>
</template>

<script>
import { mdbInput, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbRow, mdbCol } from 'mdbvue'
import { required, sameAs, minLength } from 'vuelidate/lib/validators'
import axios from 'axios'

export default {
  name: 'PasswordReset',
  components: {
    mdbInput,
    mdbBtn,
    mdbCardHeader,
    mdbCard,
    mdbCardBody,
    mdbRow,
    mdbCol
  },
  data: () => {
    return {
      email: '',
      codeReset: '',
      password: '',
      passwordConfirmed: ''
    }
  },
  created () {
    let emailGet = this.$route.query.email
    let codeResetGet = this.$route.query.reinitCode

    if (typeof emailGet === 'undefined' || typeof codeResetGet === 'undefined') {
      this.$router.push('/404')
    }

    this.email = emailGet
    this.codeReset = codeResetGet
  },
  validations: {
    password: {
      required,
      minLength: minLength(6)
    },
    passwordConfirmed: {
      sameAsPassword: sameAs('password')
    }
  },
  methods: {
    displayErrorMessage (key) {
      return this.$v[key].$anyError
    },
    checkForm () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        let data = {
          email: this.email,
          code: this.codeReset,
          newPassword: this.password
        }
        axios.create({
          baseURL: process.env.USER_SERVER
        }).post('/public/user/setNewPasswordWithCode', {}, {
          params: data
        }).then(res => {
          alert('Mot de passe modifié avec succès')
        })
      }
    }
  }

}
</script>

<style>
.invalid {
  color: red;
}
</style>
