<template>
  <main-view>
    <template v-slot:header>
      Liste des courts
      <router-link to="/courts/new">
        <mdb-btn color="default" size="sm"><mdb-icon icon="plus"/></mdb-btn>
      </router-link>
    </template>
    <template v-slot:body>
      <list-ag-grid
        :columnDefs="columnDefs"
        :rowData="courts"
        :doubleClickedCb="onRowDoubleClicked"
      ></list-ag-grid>
    </template>
  </main-view>
</template>

<script>
import {
  mdbBtn,
  mdbIcon
} from 'mdbvue'

import ListAgGrid from '../common/ListAgGrid'
import MainView from '../common/MainView'
import { mapState } from 'vuex'
// import courtsJson from '@/api/mocks/courts.json'

export default {
  name: 'Courts',
  components: {
    ListAgGrid,
    mdbBtn,
    mdbIcon,
    MainView
  },
  data () {
    return {
      columnDefs: null
    }
  },
  computed: {
    ...mapState({
      courts: state => state.moduleCourt.all
    })
  },
  beforeMount () {
    this.$store.dispatch('getAllCourts')
    this.onRowDoubleClicked = (event) => {
      this.$router.push({ name: 'ShowCourt', params: { id: event.data.idCourt } })
    }
    this.columnDefs = [
      {headerName: 'Libelle', field: 'libelleCourt', sortable: true, filter: true, resizable: true},
      {headerName: 'Couvert', field: 'couvert', sortable: true, filter: true, resizable: true, cellRenderer: 'booleanRenderer'},
      {headerName: 'Réservable', field: 'reservable', sortable: true, filter: true, resizable: true, cellRenderer: 'booleanRenderer'},
      {headerName: 'Localisation', field: 'localisationCourt', sortable: true, filter: true, resizable: true},
      {headerName: 'Type de court', field: 'typeCourt.libelleTypeCourt', sortable: true, filter: true, resizable: true}
    ]
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
