<template>
  <main-view>
    <template v-slot:header>
      <span v-if="$route.name !== 'EditCourt'">Nouveau court</span>
      <span v-else>Modification de {{ court.libelleCourt }}</span>
    </template>
    <template v-slot:body>
      <form novalidate @submit.prevent="checkForm" class="needs-validation">
        <mdb-container class="grey-text">
          <mdb-input customValidation :isValid="checkValidity('libelleCourt')" label="Libellé" v-model="court.libelleCourt" type="text" />
          <div v-if="displayErrorMessage('libelleCourt')">
            <div class="invalid" v-if="!$v.court.libelleCourt.required">Le libellé est requis.</div>
             <div class="invalid" v-if="!$v.court.libelleCourt.maxLength">Le libellé ne peut excéder 70 caractères.</div>
            <div class="invalid" v-if="!$v.court.libelleCourt.minLength">Le libellé doit excéder 4 caractères.</div>
          </div>
          <mdb-input customValidation :isValid="checkValidity('localisationCourt')" label="Localisation" v-model="court.localisationCourt" type="text" />
          <mdb-row>
            <mdb-input customValidation :isValid="checkValidity('latitudeCourt')" label="Latitude"
            class="col-md-6"
            v-model="court.latitudeCourt" type="text" />
            <mdb-input class="col-md-6" customValidation :isValid="checkValidity('longitudeCourt')" label="Longitude" v-model="court.longitudeCourt" type="text" />
          </mdb-row>
          <div v-if="displayErrorMessage('localisationCourt')">
            <div class="invalid" v-if="!$v.court.localisationCourt.required">La localisation est requis.</div>
             <div class="invalid" v-if="!$v.court.localisationCourt.maxLength">La localisation ne peut excéder 70 caractères.</div>
            <div class="invalid" v-if="!$v.court.localisationCourt.minLength">La localisation doit excéder 4 caractères.</div>
          </div>
          <span class="space-label">Couvert : </span>
          <div class="custom-control custom-radio custom-control-inline" >
            <input type="radio" :class="!displayErrorMessage('couvert')" class="custom-control-input" v-bind:value="true" name="radioCouvert" id="radioCouvertTrue" v-model="court.couvert">
            <label class="custom-control-label" for="radioCouvertTrue"><mdb-icon icon="check"/></label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" :class="!displayErrorMessage('couvert')" class="custom-control-input" v-bind:value="false" name="radioCouvert" id="radioCouvertFalse" v-model="court.couvert">
            <label class="custom-control-label" for="radioCouvertFalse"><mdb-icon icon="times"/></label>
          </div>
          <div class="invalid" v-if="displayErrorMessage('couvert') && !$v.court.couvert.required">Ce champ est requis</div>
          <br/>
          <span class="space-label">Réservable : </span>
          <div class="custom-control custom-radio custom-control-inline" >
            <input type="radio" :class="!displayErrorMessage('reservable')" class="custom-control-input" v-bind:value="true" name="radioReservable" id="radioReservableTrue" v-model="court.reservable">
            <label class="custom-control-label" for="radioReservableTrue"><mdb-icon icon="check"/></label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" :class="!displayErrorMessage('reservable')" class="custom-control-input" v-bind:value="false" name="radioReservable" id="radioReservableFalse" v-model="court.reservable">
            <label class="custom-control-label" for="radioReservableFalse"><mdb-icon icon="times"/></label>
          </div>
          <div class="invalid" v-if="displayErrorMessage('reservable') && !$v.court.reservable.required">Ce champ est requis</div>
          <br/>
          <br/>
          <label for="typeCourtSelect" class="grey-text"> Type de court : </label>
          <select id="typeCourtSelect" class="browser-default custom-select form-control" v-model="court.typeCourt">
            <option v-for="typeCourt in listeTypeCourt" :key="typeCourt.idTypeCourt" :value="typeCourt">{{ typeCourt.libelleTypeCourt }}</option>
          </select>
        </mdb-container>
        <div class="text-center">
          <mdb-btn color="primary" type="submit">Enregistrer</mdb-btn>
        </div>
      </form>
    </template>
  </main-view>
</template>

<script>
import MainView from '@/components/common/MainView'
import courtApi from '../../api/courts'
import { required, minLength, maxLength, between, decimal } from 'vuelidate/lib/validators'

import { mdbIcon, mdbInput, mdbBtn, mdbCard, mdbCardBody, mdbCardHeader, mdbCol, mdbRow, mdbContainer } from 'mdbvue'

export default {
  components: {
    MainView,
    mdbCard,
    mdbCardBody,
    mdbCardHeader,
    mdbIcon,
    mdbCol,
    mdbRow,
    mdbContainer,
    mdbInput,
    mdbBtn
  },
  name: 'CourtForm',
  created () {
    if (this.$route.name === 'EditCourt') {
      courtApi.getCourt(this.$route.params.id, (res) => {
        this.court = res
      })
    }
    courtApi.getTypeCourts((res) => {
      this.listeTypeCourt = res
    })
  },
  data () {
    return {
      court: {
        idCourt: null,
        libelleCourt: '',
        localisationCourt: '',
        latitudeCourt: null,
        longitudeCourt: null,
        couvert: false,
        reservable: false,
        typeCourt: {
          idTypeCourt: null,
          libelleTypeCourt: ''
        }
      },
      listeTypeCourt: []
    }
  },
  validations: {
    court: {
      couvert: { required },
      reservable: { required },
      libelleCourt: { required, maxLength: maxLength(70), minLength: minLength(4) },
      latitudeCourt: { required, decimal, between: between(-90, 90) },
      longitudeCourt: { required, decimal, between: between(-180, 180) },
      localisationCourt: { required, maxLength: maxLength(70), minLength: minLength(4) }

    }
  },
  methods: {
    checkForm () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        console.log(this.court)
        if (this.court.idCourt === null) {
          courtApi.addCourt(this.court, (res) => {
            console.log(res)
            this.$router.push({ name: 'ShowCourt', params: { id: res.idCourt } })
          })
        } else {
          courtApi.updateCourt(this.court, (res) => {
            console.log(res)
            this.$router.push({ name: 'ShowCourt', params: { id: res.idCourt } })
          })
        }
      }
    },
    isInvalid (key) {
      return this.$v.court[key].$error ? 'is-invalid' : ''
    },
    displayErrorMessage (key) {
      return this.$v.court[key].$anyError
    },
    checkValidity (key) {
      if (!this.$v.court[key].$anyDirty) {
        return false
      }
      return !this.$v.court[key].$anyError
    }
  }
}
</script>

<style scoped>
.space-label {
  margin-right: 1rem;
}

.invalid {
  color: red;
}
</style>
