<template>
  <div>
    <div v-if="isLogin" class="flexible-content">
      <!-- Sidebar -->
      <div class="pr-5 pl-5">
        <my-sidebar/>
        <router-view></router-view>
      </div>

      <!-- /Sidebar  -->
    </div>

    <div v-else>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import {
  mdbContainer,
  mdbNavbar,
  mdbNavbarBrand,
  mdbNavItem,
  mdbNavbarNav,
  mdbNavbarToggler,
  mdbBtn,
  mdbIcon,
  mdbListGroup,
  mdbListGroupItem,
  mdbCardBody,
  mdbFooter,
  waves
} from 'mdbvue'
import MySidebar from '@/components/common/MySidebar'

export default {
  name: 'AdminTemplate',
  components: {
    mdbContainer,
    mdbNavbar,
    mdbNavbarBrand,
    mdbNavItem,
    mdbNavbarNav,
    mdbNavbarToggler,
    mdbBtn,
    mdbListGroup,
    mdbListGroupItem,
    mdbIcon,
    mdbCardBody,
    ftr: mdbFooter,
    MySidebar
  },
  data () {
    return {
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters.loggedIn
      // return ['Login', 'PasswordReset'].includes(this.$route.name)
    }
  },
  mixins: [waves]
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.flexible-content {
  transition: padding-left 0.3s;
  padding-left: 270px;
}

@media (max-width: 1199.98px) {
  .flexible-content {
    padding-left: 0;
  }
}
</style>
<style>
.navbar-light .navbar-brand {
  margin-left: 15px;
  color: #2196f3 !important;
  font-weight: bolder;
}
</style>
