<template>
  <main-view>
    <template v-slot:header>
      Réservation N°{{ reservation.idReservation }}
      <mdb-btn color="green" v-if="!reservation.valide" size="sm" @click="validerReservation()"><mdb-icon far icon="calendar-check" /></mdb-btn>
      <mdb-btn color="red" size="sm" @click="deleteReservation()"><mdb-icon icon="trash"/></mdb-btn>
    </template>
    <template v-slot:body>
      <dl class="row">
        <dt class="col-sm-2">
          Utilisateur 1 :
        </dt>
        <dd class="col-sm-10">
          <router-link :to="{ name : 'ShowAdherent', params: { id : reservation.idUtilisateur1.idUtilisateur }}">
            {{ reservation.idUtilisateur1.nomUtilisateur }} {{ reservation.idUtilisateur1.prenomUtilisateur }}
          </router-link>
        </dd>
        <dt class="col-sm-2">
          Utilisateur 2 :
        </dt>
        <dd class="col-sm-10">
          <router-link v-if="reservation.idUtilisateur2 !== null" :to="{ name : 'ShowAdherent', params: { id : reservation.idUtilisateur2.idUtilisateur }}">
            {{ reservation.idUtilisateur2.nomUtilisateur }} {{ reservation.idUtilisateur2.prenomUtilisateur }}
          </router-link>
        </dd>
        <dt class="col-sm-2">
          Court :
        </dt>
        <dd class="col-sm-10">
          <router-link :to="{ name : 'ShowCourt', params: { id : reservation.idCourt.idCourt }}">
            {{ reservation.idCourt.libelleCourt }}
          </router-link>
        </dd>
        <dt class="col-sm-2">
          Date de réservation :
        </dt>
        <dd class="col-sm-10">
          {{       reservation.dateDebutReservation }}
        </dd>
        <dt class="col-sm-2">
          Date de création :
        </dt>
        <dd class="col-sm-10">
          {{       reservation.dateCreationReservation }}
        </dd>
        <dt class="col-sm-2">
          Validée :
        </dt>
        <dd class="col-sm-10">
          {{ reservation.valide ? 'Oui' : 'Non' }}
        </dd>
        <dt class="col-sm-2">
          QR Code d'ouverture :
        </dt>
        <dd class="col-sm-10">
          <qrcode :value="reservation.tokenReservation" :options="{ width: 200 }"></qrcode>
        </dd>
      </dl>
    </template>
  </main-view>
</template>

<script>
import reservationApi from '../../api/reservations'
import MainView from '../common/MainView'
import { mdbBtn, mdbIcon, mdbCard, mdbCardBody, mdbCardHeader, mdbRow, mdbCol, mdbContainer } from 'mdbvue'

export default {
  name: 'ReservationFiche',
  components: {
    MainView,
    mdbBtn,
    mdbIcon,
    mdbCard,
    mdbCardBody,
    mdbCardHeader,
    mdbRow,
    mdbCol,
    mdbContainer
  },
  methods: {
    loadData () {
      reservationApi.getReservation(this.$route.params.id, (res) => {
        this.reservation = res
      })
    },
    deleteReservation () {
      let vm = this
      if (confirm('Êtes vous sûr de vouloir supprimer ?')) {
        reservationApi.deleteReservation(vm.reservation.idReservation, (res) => {
          vm.$router.push({ name: 'Reservations' })
        })
      }
    },
    validerReservation () {
      let vm = this
      if (confirm('Validez-vous la réservation ?')) {
        reservationApi.validerReservation(vm.reservation.idReservation, (res) => {
          vm.loadData()
        })
      }
    }
  },
  created () {
    this.loadData()
  },
  data: () => {
    return {
      reservation: null
    }
  }
}
</script>

<style>

</style>
