<template>
  <mdb-modal>
    <mdb-modal-header>
      <mdb-modal-title>Suppression</mdb-modal-title>
    </mdb-modal-header>
    <mdb-modal-body>Êtes-vous sûr de vouloir supprimer ?</mdb-modal-body>
    <mdb-modal-footer>
      <mdb-btn color="red">Non</mdb-btn>
      <mdb-btn color="green">Oui</mdb-btn>
    </mdb-modal-footer>
  </mdb-modal>
</template>

<script>
import { mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbBtn } from 'mdbvue'

export default {
  name: 'Modal',
  components: {
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter,
    mdbBtn
  }
}
</script>

<style>

</style>
