<template>
  <!-- Sidebar -->
  <div class="sidebar-fixed position-fixed">
    <a class="logo-wrapper">
      <img alt class="img-fluid" src="@/assets/icon.png" />
    </a>
    <mdb-list-group class="list-group-flush">
      <router-link :to="{ name: 'Adherents' }" @click.native="activeItem = 2">
        <mdb-list-group-item :action="true" :class="{active: activeItem === 2}">
          <mdb-icon icon="user" class="mr-3" />Adhérents
        </mdb-list-group-item>
      </router-link>
      <router-link to="/news" @click.native="activeItem = 3">
        <mdb-list-group-item :action="true" :class="{active: activeItem === 3}">
          <mdb-icon icon="table" class="mr-3" />News
        </mdb-list-group-item>
      </router-link>
      <router-link to="/reservations" @click.native="activeItem = 4">
        <mdb-list-group-item :action="true" :class="{active: activeItem === 4}">
          <mdb-icon icon="ticket-alt" class="mr-3" />Réservations
        </mdb-list-group-item>
      </router-link>
      <router-link to="/courts" @click.native="activeItem = 5">
        <mdb-list-group-item :action="true" :class="{active: activeItem === 5}">
          <mdb-icon icon="table-tennis" class="mr-3" />Courts
        </mdb-list-group-item>
      </router-link>
      <router-link to="/config" @click.native="activeItem = 6">
        <mdb-list-group-item :action="true" :class="{active: activeItem === 6}">
          <mdb-icon icon="cogs" class="mr-3" />Configuration
        </mdb-list-group-item>
      </router-link>
      <a href="#" @click="activeItem = 999 && logout()">
        <mdb-list-group-item :action="true" :class="{active: activeItem === 999}">
          <mdb-icon icon="sign-out-alt" class="mr-3" />Déconnexion
        </mdb-list-group-item>
      </a>
    </mdb-list-group>
  </div>
  <!-- /Sidebar  -->
</template>

<script>
import { mdbIcon, mdbListGroup, mdbListGroupItem } from 'mdbvue'

export default {
  name: 'MySidebar',
  components: {
    mdbIcon,
    mdbListGroup,
    mdbListGroupItem
  },
  data: () => {
    return {
      activeItem: 0
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('logout')
    }
  },
  beforeMount () {
    this.activeItem = this.$route.matched[0].props.default.page
  }
}
</script>

<style scoped>
.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.sidebar-fixed .list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.sidebar-fixed .list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
}
</style>
